%section.businesses
  %h1 Businesses
  - @businesses.each do |business|
    %section
      %h2= link_to business.name, business, class: "business-link"
      %p= "#{business.city}, #{business.state}"
