dl {
    &.inline-dl-items {
        dt,
        dd {
            display: inline-block;
            margin-bottom: 10px;
            vertical-align: top;
        }
        dt {
            width: 200px;
        }
        dd {
            margin-left: 10px;
        }
    }
}

form input,
form select {
    padding: 4px 8px;
    font-size: 1rem;
    border: 1px solid #999;
}

form button,
form input[type=submit] {
    background: #fff;
    color: #555;
    border: 2px solid #555;
    &:hover,
    &:focus {
        background: darken(#fff, 40%);
        color: #fff;
    }
}

.content h1,
.content .h1 {
    font-size: 2rem;
    margin: 10px 0 20px 0;
}

.center-text {
    text-align: center;
}

.businesses,
.form-section,
.user-profile {
    padding: 40px;
    background: #fff;
    color: #222;
    border-radius: 4px;
    margin: 15px 0;
    box-shadow: 0 3px 5px #000;
}

.form-center {
    max-width: 500px;
    margin: 0 auto;
}

.businesses {
    section {
        padding: 20px 10px;
        &:hover,
        &:focus {
            background: #f0f0f0;
        }
        +section {
            border-top: 1px solid #555;
        }
    }
}

.alert {
    margin: 10px 0;
    padding: 15px;
    border-width: 1px;
    border-style: solid;
    &.alert-notice {
        background: palegreen;
        border-color: darkgreen;
    }
    &.alert-error {
        background: lightcoral;
        border-color: darkred;
    }
    .close {
        float: right;
        margin-left: 10px;
    }
}